html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto,arial,sans-serif;
  color: #202124;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  font-size: 14px;

}

/* .leftLinks {

} */

.about {
  padding: 5px;
  margin: 0 5px;
  text-decoration: none;
}

.about:hover {
  text-decoration: underline;
}

.store {
  padding: 5px;
  margin: 0 5px;
  text-decoration: none;
}

.store:hover {
  text-decoration: underline;
}

.rightLinks {
  display: flex;
  align-items: center;
  
}

.gmail {
  padding: 5px;
  margin: 0 5px;
  text-decoration: none;
}

.gmail:hover {
  text-decoration: underline;
}

.images {
  padding: 5px;
  margin: 0 5px;
  text-decoration: none;
}

.images:hover {
  text-decoration: underline;
}

.profileImage {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid black;
  margin: 5px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  max-height: 290px;
  height: calc(100% - 560px);
}

.logoImage {
  max-height: 92px;
}

.searchContents {
  margin: 0 auto;
  padding-top: 6px;
  width: auto;
  max-width: 584px;
  position: relative;
}

.searchBar {
  display: flex;
  height: 44px;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin-top: 16px;
  width: auto;
  max-width: 584px;
}

.searchBar:hover {
  -webkit-box-shadow: 1px 1px 2px 2px rgba(187, 187, 187, 0.75);
  -moz-box-shadow: 1px 1px 2px 2px rgba(187, 187, 187, 0.75);
  box-shadow: 1px 1px 2px 2px rgba(223, 223, 223, 0.75);
}

.inputContainer {
  height: auto;
  width: auto;
}



.searchInput {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, .87);
  outline: none;
  word-wrap: break-word;
  margin-top: 5px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 5px;
  height: 34px;
  font-size: 16px;
  width: 500px
}

.btnContainer {
  height: 70px;
}

.gglSrcBtn {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-size: 14px;
  margin: 20px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  text-align: center;
  cursor: pointer;
}

.gglSrcBtn:hover {
  -webkit-box-shadow: 1px 1px 2px 2px rgba(187, 187, 187, 0.75);
  -moz-box-shadow: 1px 1px 2px 2px rgba(187, 187, 187, 0.75);
  box-shadow: 1px 1px 2px 2px rgba(223, 223, 223, 0.75);
}

.luckyBtn {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-size: 14px;
  margin: 20px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  text-align: center;
  cursor: pointer;
}

.luckyBtn:hover {
  -webkit-box-shadow: 1px 1px 2px 2px rgba(187, 187, 187, 0.75);
  -moz-box-shadow: 1px 1px 2px 2px rgba(187, 187, 187, 0.75);
  box-shadow: 1px 1px 2px 2px rgba(223, 223, 223, 0.75);
}


